
body{
   box-sizing: border-box; 
}
 
.grid_container {
 column-gap:1rem;
 margin: 0 auto; 
 margin-top: 5rem;
 display: grid; 
 grid-gap:15px; 
 grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); 
}

.grid_item_span_4   {
    grid-column-end: span 0;
}
.card{
    box-sizing: border-box;
    height: 434px;
    width: 75%;
    margin: auto;
    background-size: cover;
    position: relative;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    border-radius: 2px;
    color: #a3a3a3;
    font-family: Roboto,serif;
}

.card:hover{
    box-shadow: 10px 5px 10px 5px #aaaaaa;
}

.card__container{
 height:260px;
 min-height:0;
 padding:25px 32px 80px;
 margin-bottom:40px
}

.card__title {
    font-family: Poppins,sans-serif;
    font-size: 22px;
    position: relative;
    line-height: 31px;
    letter-spacing: .37px;
    overflow: hidden;
    word-wrap: break-word;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    font-size: 24px;
    line-height: 33px;
    letter-spacing: .4px;
}

.button__secondary_container  {
min-width: 160px;
cursor: pointer;
text-transform: uppercase;
color: #2897ff; 
margin: auto;
}

.button__secondary_text{
margin: auto 10px auto 10px; /* margin-top/margin-right/margin-bottom/margin-left */
color: #fff;
}

.card__button{ 
bottom: 20px;
width: 160px;
height: 40px;
border-radius: 20px;
text-align: center;
margin: auto;
color: #fff;
background-color: #2897ff;
border: 3px solid #2897ff
} 

@media screen and (min-width: 550px) {
    .card__button{ 
        justify-content: center;
        bottom: 20px;
        width: 160px;
        height: 40px;
        margin: auto 0px auto 15px;
        border-radius: 20px; 

    }
    .card__container{
        justify-content: space-between;
        align-items: center;
        height:260px;
        min-height:0;
        padding:25px 32px 80px;
        margin-bottom:40px
    }
}
@media screen and (min-width: 380px) {
    .card{
    box-sizing: border-box;
    height: 434px;
    width: 75%;
    margin: auto;
    background-size: cover;
    position: relative;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
    border-radius: 2px;
    color: #a3a3a3;
    font-family: Roboto,serif;
}
    .card__button{
        justify-content: center;
        bottom: 20px;
        width: 160px;
        height: 40px;
        margin: 20px 0px 10px 15px;
        border-radius: 20px; 

    }
    .card__container{
        justify-content: space-between;
        align-items: center;
        height:360px;
        min-height:0;
        padding:25px 32px 80px;
        margin-bottom:40px
    }

}